.header {
  background: url(../../images/D2.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.intro {
  padding-top: 10em;
  text-align: center;
  color: white;
}

.logo {
  margin-bottom: 2em;
}

.mouse {
  margin-top: 5em;
}

.about-us {
  text-align: center;
  padding: 2em 4em;
}

.services {
  padding: 5em 4em;
  text-align: center;
  color: white;
  background: url(../../images/D3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.four {
  text-align: center;
}

#pen {
  text-align: center;
  padding: 2em 3em;
}


.form {
  text-align: center;
  margin-top: 2em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form ::placeholder{
  color: white;
}
.textarea{
  margin-top: 1em;
}
.contacts{
  padding: 2em 4em;
}

.row2 {
  margin-left: 6em;
  margin-right: 6em;
  color: white;
  background: url(images/D1.jpg);
}

.media {
  text-align: center;
}

.text2 {
  text-align: center;
}
#port{
  text-align: center;
}

.image {
  /* margin-top: 5%; */
  /* margin-bottom: 1%; */
  padding: 1em 0em;
   
}
.inputs, .textarea{
  background: none;
}


body {
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 2em;
  margin-left: 2em;
}
.media{
  margin-top: 1em;
}
.med{
padding: 1em 1em;
}

.text1 {
  font-weight: bold;
  text-align: center;
  color: black;
  text-shadow: 1px 1px #fff;
  z-index: 1;
  position: absolute;
  
  
}

#overlay {
  font-size: 30px;
  color: black;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.456);
  font-weight: bold;
  text-align: center;
  padding-bottom: 25%;

}

