.intro{
  text-align: center;
  color: white;
}
.two{
  text-align: center;
}
.services{
  text-align: center;
  color: white;
}
.form{
  text-align: center;
}
.row2{
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  
}
.media{
  text-align: center;
}